'.editor':
  'ctrl-alt-n': 'es-navigation:next-symbol'
  'ctrl-alt-p': 'es-navigation:previous-symbol'
  'ctrl-alt-a': 'es-navigation:select-all-id'
  'ctrl-alt-d': 'es-navigation:jump-to-definition'
