'.editor':
  'ctrl-alt-n': 'ecmascript-navigation:next-symbol'
  'ctrl-alt-p': 'ecmascript-navigation:previous-symbol'
  'ctrl-alt-a': 'ecmascript-navigation:select-all-id'
  'ctrl-alt-0': 'ecmascript-navigation:jump-to-definition-file'
